<mat-loading-bar
  [loader]="loader"
  [showAlways]="showAlways"
  [color]="color"
  [backdrop]="backdrop"
></mat-loading-bar>
<div style="text-align: center">
  <h1>Welcome to MatLoadingBar demo!</h1>
  <img class="m-auto"
    width="300"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
</div>

<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="24px">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="24px">
    <button mat-raised-button (click)="promise()">Start promise</button>
    <button mat-raised-button (click)="observable()">Start observable</button>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="24px">
    <mat-checkbox [(ngModel)]="backdrop">Backdrop</mat-checkbox>
    <mat-checkbox [(ngModel)]="showAlways">Show always</mat-checkbox>
  </div>
  <mat-radio-group [(ngModel)]="color" fxLayoutGap="24px">
    <mat-radio-button value="primary">primary</mat-radio-button>
    <mat-radio-button value="accent">accent</mat-radio-button>
    <mat-radio-button value="warn">warn</mat-radio-button>
  </mat-radio-group>
</div>
