<div class="container">
  <div>
    <h2>Local data:</h2>
    <div class="flex-column">
      <div class="mat-form-container pb-8">
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>Default template</mat-label>
          <mat-search-autocomplete
            [formControl]="ctrl"
            [source]="items"
            [minChars]="0"
            >
          </mat-search-autocomplete>
          @if (ctrl.value) {
            <button
              mat-icon-button
              matSuffix
              (click)="clear()"
              >
              <mat-icon>clear</mat-icon>
            </button>
          }
        </mat-form-field>
        <mat-checkbox [formControl]="disableAutocompleteCtrl">
          Disable autocomplete</mat-checkbox>
      </div>
      <div class="mat-form-container">
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>Custom template</mat-label>
          <mat-search-autocomplete
            [source]="items"
            [displayItemFn]="displayItemFn"
            required
            >
          </mat-search-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="pt-16">
    <h2>Remote data:</h2>
      <div class="flex-column">
        <div class="mat-form-container pb-8">
          <mat-form-field subscriptSizing="dynamic">
            <mat-label>Default template</mat-label>
            <mat-search-autocomplete
              [formControl]="ctrl2"
              [source]="dataService"
              [minChars]="0"
              >
            </mat-search-autocomplete>
            @if (ctrl2.value) {
              <button
                mat-button
                mat-icon-button
                matSuffix
                (click)="clear2()"
                >
                <mat-icon>clear</mat-icon>
              </button>
            }
          </mat-form-field>
        </div>
        <div class="mat-form-container pb-8">
          <mat-form-field subscriptSizing="dynamic">
            <mat-label>Custom template</mat-label>
            <mat-search-autocomplete
              [source]="dataService"
              [displayItemFn]="displayItemFn"
              >
            </mat-search-autocomplete>
          </mat-form-field>
        </div>
      </div>
  </div>
</div>
