@import '../../lib/time-select.component-theme';


// Include non-theme styles for core.
$config: mat.define-legacy-typography-config();

@include time-select-typography($config);

// Define a theme.
$primary: mat.define-palette(mat.$purple-palette, 700, 500, 800);
$accent:  mat.define-palette(mat.$green-palette, A200, A100, A400);

$theme: mat.define-dark-theme($primary, $accent);

@include time-select-theme($theme);
