@use '@angular/material' as mat;
@use '../packages/time-select/dist' as time-select;

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@include mat.core();

$primary: mat.m2-define-palette(mat.$m2-purple-palette, 500);
$accent:  mat.m2-define-palette(mat.$m2-lime-palette, 500, A200, A400);
$warn:    mat.m2-define-palette(mat.$m2-red-palette, 500);

$theme: mat.m2-define-light-theme((color: (primary: $primary, accent: $accent, warn: $warn)));

@include mat.all-component-themes($theme);

@include time-select.mat-time-select-theme($theme);

html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  // font-family: mat.font-family($typography);
  font-weight: normal;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

.container {
  margin: 40px;
}
